.weather-container{
  padding: 2px;
}
.weather-today > div{

}
.weather-controls{
  display: block;
  text-align: center;
}
.weather-item{
  padding: 4px 0px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(238,238,238,1);
}
.weather-button-left{
  width: 12%;
}
.weather-button-right{
  width: 12%;
}
.weather-button-center{
  width: 76%;
  float: left;
}
.weather-button {
    float: left;
    background-color: #4CAF50; /* Green */
    background-color: #fff;
    border: none;
    color: #1177d1;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 10px;
    cursor: pointer;
}
.weather-icon{
  position: absolute;
  left: calc(50% - 4px);
  height: 99px;
  width: 50%;
}
.weather-date{
  padding: 2px;
  text-align: center;
}
.weather-temp::after{
  content:'';
}
.weather-temp{
  padding-left: 8px !important;
}
.temp-max{
  font-size: 1.1rem;
  font-weight: 500;
}
.temp-avg{

}
.temp-min{
  font-size: 1.0rem;
}
.chart-circle {
  position: absolute;
	width: 30px;
	height: 30px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

  background-color: #d9edf7;
  border: 1px solid #bcdff1;
  color: #31708f;
}
.chart-container{

}
.temp-square-divider{
  position:absolute;;
  top: 25%;
  left: 25%;
}
.temp-square-top{
  content: 'A';
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}
.temp-square-bottom{
  content: 'B';
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  right: 5px;
}
.temp-square{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 25px;
}

.chart-bar{
  position:absolute;
  left: 50%;
  top: 50%;
  width: 15px;
	height: 1px;
	background: #64b9e4;

  transform: rotate(0deg);
  transform-origin: left;
  transition-duration: 2s;
}
.weather-info{
  padding: 0px 5px;
}
.weather-time{
  font-size: 0.9rem;
}
.weather-title{
  text-align: left;
}
.weather-span{
  padding: 0px 5px;
  max-width: 30%;
  min-width: 75px;
  display: inline-block;
  color: green;
}
.weather-today{
  background-color: #eceeef;
  color: #1177d1;
  border-left: 2px solid red;
  border: 1px solid rgba(238,238,238,1);
}
.weather-footer{
  font-size: 10px;
}
